// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row {
	max-height: 30vh;
}

.col {
	max-height: 30vh;
	overflow: scroll;
}

* {
	margin: 0;
	padding: 0;
}

img {
	max-width: auto;
	max-height: 23vh;
}